html {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.title {
    text-align: center;
    height: 10%;
    width: 100%;
    margin: 0;
    padding-top: 1%;
}

button {
    height: 50px;
    width: 50px;
    border-radius: 35%;
    background-color: rgb(99, 99, 99);
    background-size: 30px;
}

.buttons {
    width: 80%;
    position: relative;
}

.character, button {
    background-position: center;
    background-repeat: no-repeat;
}

.attack-button {
    background-image: url(./images/sword_02c.png);
}
.defend-button {
    background-image: url(./images/shield_03b.png);
}
.magic-button {
    background-image: url(./images/staff_03d.png);
}
.start-button {
    background-image: url(./images/play-arrow-1780211-1513049.png);
    float: left;
}

.container {
    height: 325px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battlefield {
    display: flex;
    height: 100px;
}
.court {
    width: 200px;
}
.position {
    height: 50px;
    width: 100%;
    position: relative;
}
.character {
    height: 50px;
    width: 50px;
    position: absolute;
    background-size: contain;
}
.player {
    background-image: url(./images/helmet_02c.png);
}
.opponent {
    right: 0px;
    background-image: url(./images/helmet_02e.png);
}
.hp {
    margin: 0;
    padding: 0;
}
#opponent-hp, .opponent-health-bar, #opponent-health, .opponent-pos {
    float: right;
}
.health-bar {
    margin: 5px 0;
    height: 10px;
    width: 150px;
    /* border: solid black 1px; */
    background-color: #fff;
    padding: 0;
    display: block;
}
.health {
    height: 100%;
    width: 100%;
    background-color: red;
    margin: 0;
}
.action-buttons {
    float: right;
    display: block;
}

.dialog {
    height: 25%;
    text-align: center;
}

